.comment {
  background-size: 100%;
  width: 90%;
  margin: 0.5em auto;
  margin: 10px;
  font-family: Chalkduster, fantasy;
  color: darkblue;
  background-size: auto;
  background-position: center center;
  background-color: palegoldenrod;
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/Post-it-note-transparent.png"); */
  grid-template-areas: fit-content(5cm);
}

.commentInfo {
  width: 90%;
  margin: 0.5em auto;
}

.SignBoard {
  background-color: white;
  font-family: Chalkduster, fantasy;
  margin: 0.5em auto;
  margin: 10px;
  box-shadow: 3px 3px;
  padding: 10px;
}
