.LogIn {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 0px 0px 0px 30px;
  background-position: top;
  background-image: url("http://www.launchphotography.com/New_York_City_panorama.jpg");
  grid-area: LogIn;
  height: 70px;
  display: flex;
  justify-content: space-around;
}
